body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

header {
  background-color: #b15618;
  color: white;
  padding: 20px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-button {
  background-color: white;
  color: #b15618;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  border: 2px solid white;
  transition: background 0.3s ease, color 0.3s ease;
}

.home-button:hover {
  background-color: #e6f4ea;
  color: #5a5a5a;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.food-card {
  background: white;
  padding: 15px;
  margin: 15px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}
