<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Community | Rebite</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='community.css') }}">
</head>
<body>

  <header>
    <div class="header-content">
      <h1>🍗Community Food Listings🍞</h1>
      <a href="/options" class="home-button">Back</a>
    </div>
    <p>🎉See what others have shared. You can request untouched or pet-friendly leftovers near you.🎉</p>
  </header>

  <main class="cards-container">
    {% for post in posts %}
    <div class="food-card">
     <img src="{{post.image_path}}" style="width:100%; border-radius:10px;">
     <h2>{{post.food_name_html}}</h2>
     <p>Type: {{post.food_type_html}}</p>
     <p>Made on: {{post.date_html}}</p>
     <p>From: {{post.user_name}} - {{post.user_address}}</p>
      <button 
      class="order-btn"
      data-food-name="{{post.food_name_html}}"
      data-food-type="{{post.food_type_html}}"
      data-date="{{post.date_html}}"
      data-user-name="{{post.user_name}}"
      data-user-address="{{post.user_address}}"
      data-account="{{post.account}}"
      >Order</button>
    </div>
    {% endfor %}
  </main>
  <script src="{{url_for('static', filename='community.js')}}"></script>
</body>
</html>