<html>
  <body style="font-family: Arial, sans-serif; color: #333;">
    <h2 style="color: #c25f25;">Rebite Food Order</h2>
    <h3>Hey there!</h3>
    <p>You just ordered <b>{{food_name}}</b> from <b>{{user_name}}</b>.</p>
    <p>Type of food: {{food_type}}</p>
    <center>
        <img src="cid:image1" style="border-radius: 5px;">
    </center>
    <p>Ordered from <strong>{{food_sender_email}}</strong> in <strong>{{address}}</strong></p>
    <p>Ordered by {{account}}</p>
    <p>The date of making the food is <strong>{{date}}</strong></p>
    <p>You must reach there in 3 days at most <strong style="color: rgb(212, 1, 1);">or your order will expire.</strong></p>
    <p>
      <a href="https://rebite.pythonanywhere.com/" 
         style="display:inline-block;padding:10px 15px;background:#c25f25;color:white;text-decoration:none;border-radius:5px;">
         View Website
      </a>
    </p>
    <hr>
    <small>Sent by Rebite Community</small>
  </body>
</html>